/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Navbar styles */
.navbar {
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  margin-top: 60px; /* Aligns with the navbar height */
  height: calc(100vh - 60px); /* Full height minus navbar */
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100%; /* Full height */
  overflow-y: auto;
  position: fixed;
  top: 60px; /* Below the navbar */
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 900;
}

/* Main content area */
.main-content {
  flex-grow: 1;
  margin-left: 250px; /* Align with the sidebar */
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  height: 100%;
  box-sizing: border-box;
}

/* Search bar styles */
.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Recipe list and card styles */
.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-card {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recipe-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.recipe-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.recipe-info p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}
