body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ff6347;
  align-items: center;
}

.header__logo {
  height: 50px;
}

.header__searchInput {
  width: 500px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  outline: none;
}

.header__searchButton {
  background-color: #ff4500;
  border: none;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
}

.app__page {
  display: flex;
}

.sidebar {
  background-color: #ffe4e1;
  padding: 20px;
  flex: 0.2;
}

.sidebarOption {
  padding: 10px 0;
  cursor: pointer;
}

.recipeSection {
  flex: 0.8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.recipe {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe__image {
  width: 100%;
  border-radius: 10px;
}

.recipe__info {
  margin-top: 10px;
}
